<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- <h1 class="brand-heading">
                        <span class="verde">Don</span>
                        <span class="vermelho">Galdino</span>
                    </h1> -->
                    <div class="brand-heading">
                        <img src="../img/dongaldino.png"
                            width="100%">
                    </div>
                    <!-- <p class="intro-text">{{ site.description }} -->
                    <!-- <div class="">
                        <a href="#about" class="down btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div> -->
                    <div class="ifood">
                        <a href="https://www.ifood.com.br/delivery/jundiai-sp/don-galdino-centro">
                            <img src="../img/ifoodicon.png" width="300px">
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <a role="button" class="down page-scroll" data-scroll href="#about">
            <svg class="icon icon-angle-down">
                <symbol id="icon-angle-down" viewBox="0 0 658 1024">
                    <path class="path1" d="M614.286 420.571q0 7.429-5.714 13.143l-266.286 266.286q-5.714 5.714-13.143 5.714t-13.143-5.714l-266.286-266.286q-5.714-5.714-5.714-13.143t5.714-13.143l28.571-28.571q5.714-5.714 13.143-5.714t13.143 5.714l224.571 224.571 224.571-224.571q5.714-5.714 13.143-5.714t13.143 5.714l28.571 28.571q5.714 5.714 5.714 13.143z"
                    />
                </symbol>
                <use xlink:href="#icon-angle-down"></use>
            </svg>
        </a>
    </div>

</header>