<div id="pagamento" class="pagamento">
    <span class="ps-brand-x60 ps-brand-x60--mastercard" title="Mastercard"></span>
    <span class="ps-brand-x60 ps-brand-x60--visa" title="Visa"></span>
    <span class="ps-brand-x60 ps-brand-x60--elo" title="Elo"></span>
    <span class="ps-brand-x60 ps-brand-x60--cabal" title="Cabal"></span>

    <span class="ps-brand-x60 ps-brand-x60--hipercard" title="Hipercard"></span>
    <span class="ps-brand-x60 ps-brand-x60--hiper" title="Hiper"></span>
    <span class="ps-brand-x60 ps-brand-x60--amex" title="American Express"></span>
    <span class="ps-brand-x60 ps-brand-x60--diners" title="Diner&#x27;s Club"></span>

    <span class="ps-brand-x60 ps-brand-x60--banri-compras" title="Banri"></span>
    <span class="ps-brand-x60 ps-brand-x60--alelo" title="Alelo"></span>
    <span class="ps-brand-x60 ps-brand-x60--sodexo" title="Sodexo"></span>
    <span class="ps-brand-x60 ps-brand-x60--vr" title="VR"></span>
</div>