<!-- About Section -->
<div class="sobre">
    <section id="about" class="sobre container content-section text-center ">
        <div class="row">
            <div id="sobre" class="col-lg-8 col-lg-offset-2 jumbo">
                <h2>Quem somos</h2>
                <p>Um bom café, um bom almoço e um bom happy hour, tudo isso em um só lugar.</p>
                <p>Com uma proposta nova para Jundiaí, o Don Galdino vem para trazer mais uma opção para Vila Arens. Procuramos
                    atender a todos da melhor maneira possível para que se sintam em casa e que sinta aquele calor humano
                    vindo de descendentes de italianos. </p>
                <p>Nos atentamos aos detalhes, pois sabemos que eles fazem a diferença e fazemos essa diferença, ao ouvir e
                    encantar o nosso público. Venha nos visitar, troque uma ideia com a gente e ajude-nos a montar um espaço
                    que seja agradável à você e a todos.</p>
            </div>
        </div>
    </section>
</div>